@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-5">

    <h1 class="display-4 fw-bold">
        <i class="bi bi-collection-fill text-warning me-2"></i>
        Welcome to Book Library
    </h1>

    <p class="lead text-black">
       Log in to discover books, leave reviews, add favorites and rent books easily.
    </p>

   
</div>
<div class="row text-center mt-5">

    <div class="col-md-4">
        <div class="card border-0 shadow h-100 bg-transparent">
            <div class="card-body">

                <i class="bi bi-book text-primary display-5"></i>

                <h5 class="card-title mt-3">Explore Books</h5>

                <p class="card-text text-black">
                    Browse a rich collection of books with authors and genres.
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-0 shadow h-100 bg-transparent">
            <div class="card-body">

                <i class="bi bi-heart-fill text-danger display-5"></i>

                <h5 class="card-title mt-3">Favorites</h5>

                <p class="card-text text-black">
                    Save your favorite books and access them anytime.
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-0 shadow h-100 bg-transparent">
            <div class="card-body">

                <i class="bi bi-journal-check text-success display-5"></i>

                <h5 class="card-title mt-3">Rent Books</h5>

                <p class="card-text text-black">
                    Rent books easily and manage your rentals.
                </p>

            </div>
        </div>
    </div>

</div>