@model BookLibrary.ViewModels.Countries.CountryEditViewModel

@{
    ViewData["Title"] = "Edit Country";
}

<h1 class="text-center text-warning">@ViewData["Title"]</h1>
<hr />

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}