@model BookLibrary.ViewModels.Authors.AuthorCreateViewModel

@{
    ViewData["Title"] = "Add Author";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form asp-action="Create" method="post">

    <div class="form-group mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control"
        placeholder="Enter first name..."/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" 
               placeholder="Enter last name..." />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
        
    <div class="mb-3">
        <label asp-for="CountryId" class="form-label"></label>
        <select asp-for="CountryId"
                asp-items="Model.Countries"
                class="form-select">
            <option value="">-- Select country --</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}